{% extends 'base.html' %}
{%block content%}

<h1 text align="center">Home page</h1>



<br><br>
<div class="card-group">
    <div class="card">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
        <div class="card-body">
          <h5 class="card-title">Mountains</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#!" class="btn btn-primary">Button</a>
        </div>
      </div>
      <div class="card">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp" class="img-fluid"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Beach</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#!" class="btn btn-secondary">Button</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/182.webp" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
            <h5 class="card-title">Sunset</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br>
          <a href="#!" class="btn btn-dark">Button</a>
        </div>
      </div>
    </div>
  </div>
  {%endblock%}